10.scheduler/src/main/mule/10.scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="10.schedulerFlow" doc:id="19297ac2-c8f2-4f48-8c48-610f2cd48b8c" >
		<scheduler doc:name="Scheduler" doc:id="153d63c7-f485-4b69-a662-64907c8f6d25" >
			<scheduling-strategy >
				<fixed-frequency frequency="${invokeSchedule}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="d481cc85-8daf-4f19-9df1-2fe2a836521b" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": "==&gt; schedule invoked" ++ Mule::p("invokeSchedule")&#10;	&#10;}]'/>
	</flow>
</mule>
